    <!-- Product Section -->
    <section id="product" class="container content-section text-center">
        <div class="row">
                <h2>Product</h2>
                <p>
                E-commerce websites that do not possess highly optimized SEO are missing out potential customers and struggle with low conversion rates. Also, lack of quality UX drives customers out of many e-commerce websites.
                </p>

                <p>
                In South Korea content of many websites is made of only images containing textual information. With the larger number of images, page load time steadily increases and prevents users from positive experience. This image-content phenomenon does not let search engines (Google, Naver, ..) index product related information, hence recommended results from search engines does not prioritize such product pages. Customers cannot search for specific information on websites, too. Absence of textual information about product forces customers to go through whole page in order to find relevant information. The same applies to selecting which products customers should consider, deciding between thousand others.
                </p>

                <p>
                Bison AI solves all of the mentioned issues using Machine Learning and Computer Vision algorithms. Below we describe several solutions that will perfectly fit your needs.
                </p>

                <h3>Image to Text</h3>
                <p>
                <strong>Image to Text</strong> solution extracts text from image while preserving the same design: position, size, font and color of text. Detected text in image is removed and overlaid with text displayed using HTML/CSS. Generated code is cross-platform and cross-browser compatible. If possible, background of original image will be also replaced with HTML/CSS which leads to decreased page load time. After conversion, content of website becomes readable for search engines and customers
                as well.
                </p>

                <h3>Filtering</h3>
                <p>
                <strong>Filtering</strong> solution exploits already extracted information from product pages. Obtained specifications of products are used to create filtering mechanism that enables customers to easily reduce number of relevant products.
                </p>

                <h3>Unification</h3>
                <p>
                <strong>Unification</strong> improves user experience by unifying product pages across different designs of product pages. Customers will find important information always at the same place/location for any product.
                </p>

        </div>
    </section>
