    <!-- Product Section -->
    <section id="product" class="container content-section text-center">
        <div class="row">
                <h2>Product</h2>
                <p>
                E-commerce websites that do not possess  <a href="https://www.bigcommerce.com/ecommerce-answers/what-seo-and-why-it-important/" target="_blank">fine tuned SEO</a> are <a href="http://www.ironpaper.com/webintel/articles/10-web-design-statistics/#.VoFPFUbG-6E" target="_blank">missing out potential customers</a>. Also, <a href="http://usabilitygeek.com/10-characteristics-bad-user-experience/" target="_ablnk">lack of quality UX</a> drives many customers out of websites and causes low conversion rates.
                </p>

                <p>
                In South Korea content of many websites is made of only images containing textual information. With the larger number of images, page load time steadily increases and prevents users from positive experience. This image-content phenomenon does not let search engines (Google, Naver, ..) index product related information, hence recommended results from search engines does not prioritize such product pages. Customers cannot search for specific information on websites, too. Absence of textual information about product forces customers to go through whole page in order to find relevant information. The same applies to selecting which products customers should consider, deciding between thousand others.
                </p>

                <p>
                Bison AI solves all of the mentioned issues using Machine Learning and Computer Vision algorithms. Below we describe several solutions that will perfectly fit your needs.
                </p>

                <h3>Image to Text</h3>
                <p>
                <strong>Image to Text</strong> solution extracts text from image while preserving the same design: position, size, font and color of text. Detected text in image is removed and overlaid with text displayed using HTML/CSS. Generated code is cross-platform and cross-browser compatible. If possible, background of original image will be also replaced with HTML/CSS which leads to decreased page load time. After conversion, content of website becomes readable for search engines and customers
                as well.
                </p>

                <div id="column-content">
                  <div class="subsection">
                    <span class="subsection-title">IMAGE</span>
                    <img src="img/product_notebook.png" class="img-responsive" id="productnotebook" />
                  </div>

                  <span class="fa fa-long-arrow-right arrow"></span>

                  <script>
                    var arrow = document.getElementsByClassName("arrow")[0];
                    arrow.classList.remove("fa-long-arrow-down");
                    arrow.classList.remove("fa-long-arrow-right");

                    if (window.screen.width < 994) {
                      arrow.classList.add("fa-long-arrow-down");
                      arrow.style.marginTop = "0.3em";
                      arrow.style.marginBottom = "0.3em";
                      arrow.style.display = "block";
                    }
                    else {
                      arrow.classList.add("fa-long-arrow-right");
                    }
                  </script>

                  <div class="subsection">
                    <span class="subsection-title">HTML/CSS</span>
                    <div id="table-container">
                    <table>
                      <tr> <td class="param">Model</td>            <td><span id="firstrow">노트북 X1618</span></td> </tr>

                      <tr> <td class="param">Processor</td>        <td>인텔 Core <strong>i5-6200U</strong> 프로세서</td> </tr>

                      <tr> <td class="param">Display</td>          <td>35.6cm(14.0형) <strong>FHD(1920x1080)</strong> IPS 터치식</td> </tr>

                      <tr> <td class="param">Graphics</td>         <td>인텔 HD Graphics 520</td> </tr>

                      <tr> <td class="param">Memory</td>           <td><strong>4GB</strong> LPDDR3 SDRAM 1866MB</td> </tr>

                      <tr> <td class="param">Hard Drive</td>       <td><strong>128GB</strong> 솔리드 스테이트 드라이브, SATA3</td> </tr>

                      <tr> <td class="param">Warranty</td>         <td>1년 센터 내방 (메인보드 2년)</td> </tr>

                      <tr> <td class="param">Battery</td>          <td>4cell 52Wh</td> </tr>
                    </table>
                    </div>
                  </div>
                </div>
                </div>

                <button onclick="selectAllTextOnPage();" class="btn btn-xl" id="select-text-btn">Select text</button>
                <p>Tip: Click on button above to select all the text on this page and see difference between image and <strong>Image to Text</strong> solution.</p>

                <h3>Filtering</h3>
                <p>
                <strong>Filtering</strong> solution exploits already extracted information from product pages. Obtained specifications of products are used to create filtering mechanism that enables customers to easily reduce number of relevant products.
                </p>

                <h3>Unification</h3>
                <p>
                <strong>Unification</strong> improves user experience by unifying product pages across different designs of product pages. Customers will find important information always at the same place/location for any product.
                </p>

        </div>
    </section>
