<section id="projects" class="project-container-outer fit-page">
  <div class="container project-container-inner">

    <div class="col-md-4 product">
      <div class="product-h1">
        <h1 class="product-middle">Edge<br>Machine Learning</h1>
      </div>
      <span id="edge-ml-popup" class="fake-link">
        Learn more <i class="fa fa-angle-right" aria-hidden="true"></i>
      </span>
      <span class="container-text">
        Our technology helps you to design and optimize your machine learning models for edge and mobile devices.
      </span>
    </div>


    <div class="col-md-4 product">
      <div class="product-h1">
        <h1 class="product-middle">Federated<br>Learning</h1>
      </div>
      <span id="fl-popup" class="fake-link">
        Try out!
      </span>
      <span class="container-text">
        Train your machine learning models across thousands of decentralized edge devices using valuable local data samples.
      </span>
    </div>

    <div class="col-md-4 product">
      <div class="product-h1">
        <h1 class="product-middle">Data<br> Privacy</h1>
      </div>
        <span id="data-privacy-popup" class="fake-link">
          Learn more <i class="fa fa-angle-right" aria-hidden="true"></i>
        </span>
      <span class="container-text">
        Protect personal data and privacy of users without sacrificing the quality of your optimized machine learning models.
      </span>
    </div>


  </div>
  <script type="text/javascript">
    document.getElementById("fl-popup").onclick = function() {showSignup()};
    document.getElementById("data-privacy-popup").onclick = function() {showSignup()};
    document.getElementById("edge-ml-popup").onclick = function() {showSignup()};
  </script>
</section>
