<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}
    {% include contact.html %}

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyAa0WkHXqWJS_s2l1vQI75CbPGMAhCJuEw"></script>

    {% include js.html %}
    {% include map.html %}
    {% include footer.html %}
    </body>
</html>
